



.img1{
    height: 10vh;
    width: 10vw;
    background-size: cover;
    display: flex;
    align-self:flex-start;
}


.image{
    height: 50px;
    width: 80px;
    background-size:cover;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: end;
}
.salma{
    color: darkorange;
    font-family: "Roboto";
    font-weight: bold;


}
.img1{
    height: 50vh;
    width: 100%;
    background-size:cover;
}
.sal1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    align-self: center;
}

.heading{
    color: black;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: red;
    font-family:"Roboto";
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    padding-top: 3px;
}

.head{
    color:cadetblue;
    font-size: 20px;
    font-family: "Roboto";
}

.h1{
    color:black;
    font-style: italic;
    font-family:"sans-serif";
    font-size: 20px;
    padding-left:5px;
    
}
.burger{
    height: 30vh;
    width: 40vh;
    background-size:cover;
    margin-right:0px;
}
.special{
    color:red;
    font-size: 15px;

}.veg{
    font-weight: bold;
    font-size: 20px;
}
.price{
    color: red;
    font-size: 15px;
    margin-right: 3px;
}
.button{
    border-radius: 10px;
    height:35px;
    width: 80px;
    align-self: stretch;
}
.rating{
    color:green;
    
}
.pizza1{
    height: 30vh;
    width: 40vh;
    background-size:cover;
    margin-right:0px;
}
.star{
    color:green;
}
.heading1{
    color: black;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color:blue;
    font-family:"Roboto";
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    padding-top: 3px;
}
.bg-container{
    background-color: black;
}
.heading3{
    color:crimson;
    font-size: 30px;
    font-family:"sans-serif";

}
.para{
    color:white;
    font-family: 'Franklin Gothic Medium';
    font-size: 15px;
}
.button{
    border-radius: 10px;
    background-color: crimson;
    width:100px
}

.head1{
    color:darkkhaki;
    font-family: "caveat";
    font-size: 30px;
    
}
.pic1{
    height: 50px;
    width: 30px;
    
}
